* {
    color: white;
}

body a {
    color: white;
    text-decoration: underline;
}

body a:hover {
    color: white;
    text-decoration: none;
}

p {
    font-size: 25px;
    font-weight: 400;
}

body {
    background: seagreen;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.homepage {
    margin-top: 25px;
    padding: 10px;
}

/* footer {
    position: absolute;
    bottom: 0;
} */