* {
    color: white;
}

.navbar-light .navbar-brand {
    color: white
} 

 .navbar-dark {
    border-color: transparent !important;
}

.bg-light {
    background-color: seagreen !important;
}

.nav-link {
    color: white !important;
}

/* .navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.0) !important;
} */

.navbar-toggler-icon {
    color: white;
}

hr {
    background-color: white;
}

body a {
    color: white;
    text-decoration: underline;
}

body a:hover {
    color: white;
    text-decoration: none;
}

p {
    font-size: 25px;
    font-weight: 400;
}

body {
    background: seagreen;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.container {
    margin-top: 25px;
    padding: 10px;
}

.footer {
    background-color: black;
}

#ed-block {
    margin-top: -20px;
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 2rem !important;
    }
}